<%= turbo_frame_tag dom_id(state) do  %>
  <div class='row'>
    <div class='col'>
      <%= state.name %>
    </div>
    <div class='col'>
      <%= state.country.name %>
    </div>
    <div class='col'>
      <%= l state.updated_at, format: :short %>
    </div>
    <div class='col'>
      <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
        <%= link_to t('edit'),
            url_for([:edit, state]),
            class: 'btn btn btn-outline-primary',
            method: :get, format: :turbostream,
            data: { turbo: true } %>
      </div>
    </div>
  </div>
<% end %>
