<%= turbo_frame_tag dom_id(proponent) do  %>
  <div class='row'>
    <div class='col'>
      <%= proponent.name %>
    </div>
    <div class='col'>
      <%= proponent.document %>
    </div>
    <div class='col'>
      <%= m proponent.gross_salary %>
    </div>
    <div class='col'>
      <%= m proponent.discount %>
    </div>
    <div class='col'>
      <%= m proponent.net_salary %>
    </div>
    <div class='col'>
      <%= "#{proponent.city_name} - #{proponent.state_uf}" %>
    </div>
    <div class='col'>
      <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
        <%= link_to t('edit'),
            url_for([:edit, proponent]),
            class: 'btn btn btn-outline-primary',
            method: :get, format: :turbostream,
            data: { turbo: false } %>
      </div>
    </div>
  </div>
<% end %>
